<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">ReCap Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/rentals']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Rentals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/customers']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/cars']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Cars</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center align-items-center">
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
      <input type="search" class="form-control" placeholder="Search...">
    </form>

    <div class="text-end">
      <button type="button" class="btn btn-light btn-sm text-dark me-2 shadow-none" [routerLink]="['/login']">Login</button>
      <button type="button" class="btn btn-primary btn-sm me-2 shadow-none" [routerLink]="['/register']">Sign-up</button>

      <div class="btn-group">
        <button class="btn btn-secondary btn-sm dropdown-toggle shadow-none" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon> Add Menu
        </button>
        <ul class="dropdown-menu p-0">
          <li>
            <div class="d-grid gap-2">
              <button class="btn btn-warning btn-sm rounded-0" routerLink="/add/car">
                Add Car
              </button>
            </div>
          </li>
          <li>
            <div class="d-grid gap-2">
              <button class="btn btn-seconday btn-sm rounded-0" routerLink="/add/color">
                Add Color
              </button>
            </div>
          </li>
          <li>
            <div class="d-grid gap-2">
              <button class="btn btn-success btn-sm rounded-0" routerLink="/add/brand">
                Add Brand
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>