<nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['']">ReCap Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Homepage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/rentals']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Rentals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/customers']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Customers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="['/cars']" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Cars</a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center align-items-center">
    <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
      <input type="search" class="form-control" placeholder="Search...">
    </form>
    <div class="text-end">
      <app-app-header-account-area></app-app-header-account-area>
    </div>
  </div>
</div>

<div class="b-example-divider"></div>