<section id="user-panel" *ngIf="isLoggedIn==false">
    <app-nav-login></app-nav-login>
</section>
<section id="user-panel" *ngIf="isLoggedIn==true">
    <span>
        {{welcomeMessage}} {{name}}
    </span>
    <button class="btn btn-secondary btn-sm dropdown-toggle shadow-none ms-2 " type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        <fa-icon [icon]="['fas', 'user-cog']"></fa-icon> Panel
    </button>
    <ul class="dropdown-menu p-0">
        <li><a class="dropdown-item" routerLink="/user/settings">Profile Settings</a></li>
        <div *ngIf="roleCheck(['admin', 'yazar'])">
            <li>
                <hr class="dropdown-divider">
            </li>
            <h6 class="dropdown-header">Administration</h6>
            <li><a class="dropdown-item" routerLink="/add/car">Add Car</a></li>
            <li><a class="dropdown-item" routerLink="/add/color">Add Color</a></li>
            <li><a class="dropdown-item" routerLink="/add/brand">Add Brand</a></li>
        </div>
    </ul>

    <button class="btn btn-danger btn-sm ms-2 shadow-none" type="button" (click)="logOut()">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
    </button>
</section>