<div class="card" *ngIf="isLoggedIn">
    <h5 class="card-header">Araç Kirala</h5>
    <div class="card-body">
        <div class="mb-3 row">
            <label for="inputPassword" class="col-lg-auto col-form-label">Ücret</label>
            <div class="col-lg" *ngFor="let car of cars">
                <input class="form-control" type="text" placeholder="{{car.dailyPrice | currency: '₺'}}"
                    aria-label="Disabled input example" disabled>
            </div>
        </div>
        <!-- <select class="form-select col-lg me-2" [(ngModel)]="customerId">
                <option [value]="customer.userId" *ngFor="let customer of customers">
                    {{ customer.firstName }} {{ customer.lastName }} |
                    {{ customer.companyName }}
                </option>
            </select> -->
        <div class="row" *ngIf="!isCompany && isLoggedIn">
            <label for="example-date-input" class="col-lg-auto col-form-label">Şirket</label>
            <p class="text-danger" style="font-size: 0.9rem">Araba kiralamak için şirket olmanız gerekmektedir.
                Şirketiniz yoksa, kişisel bilgilerinizle şirket hesabına geçiş yapabilirsiniz.</p>
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-dark shadow-none" routerLink="/user/company">
                    Şirket Hesabı<span class="badge bg-warning rounded-pill ms-2">
                        <fa-icon [icon]="['fas', 'chevron-right']" size="lg"></fa-icon>
                    </span>
                </button>
            </div>
        </div>
        <div class="row pe-1" *ngIf="isCompany && isLoggedIn">
            <label for="example-date-input" class="col-lg-auto col-form-label">Şirket</label>
            <input [(ngModel)]="customerId" class="form-control col-lg me-2" id="disabledInput" type="text"
                placeholder="{{customer.companyName}}" [value]="customer.userId" disabled>
        </div>

        <label for="example-date-input" class="col-lg-auto col-form-label">Başlangıç</label>
        <input [(ngModel)]="rentDateValue" class="form-control" min="{{ getRentMinDate() }}"
            value="{{ getRentMinDate() }}" type="date" [(ngModel)]="rentDate" />
        <label for="example-date-input" class="col-4 col-form-label">Bitiş</label>
        <input class="form-control" type="date" min="{{ getReturnMinDate() }}" value="{{ getReturnMinDate() }}"
            [(ngModel)]="returnDate" />
        <div class="d-grid gap-2">
            <button class="btn btn-warning btn-block mt-3" *ngIf="checkAvailability() == true && isCompany"
                (click)="checkClick()">Aracı Kirala</button>
            <button class="btn btn-warning btn-block mt-3" *ngIf="checkAvailability() == true && !isCompany"
                disabled>Aracı Kirala</button>
            <button class="btn btn-danger mt-3" *ngIf="checkAvailability() == false && isCompany" disabled>Araç
                Kullanımda</button>
        </div>
    </div>
</div>

<div class="card" *ngIf="!isLoggedIn">
    <h5 class="card-header">Araç Kirala</h5>
    <div class="card-body">
        <p>Araç kiralayabilmek için öncelikle giriş yapmanız gerekmekte.</p>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-dark shadow-none" routerLink="/login">
                Giriş Yap <span class="badge bg-warning rounded-pill">
                    <fa-icon [icon]="['fas', 'chevron-right']" size="lg"></fa-icon>
                </span>
            </button>
        </div>

    </div>
</div>